.sidebar-nav ul li.nav-devider {
    margin: 0px 0;
}

.sidebar-nav > ul > li > a.active {
    background: #d0dcf5;
}

body {
    font-weight: normal;
}

body, .sidebar-nav ul li a {
    color: #000000;

}

#grid_table th:first-child,
#grid_table td:first-child {
    border-left: 1px solid #C1DAD7;
    text-align: center;
    white-space: nowrap;
}

#grid_table th {
    font: bold 11px "Tahoma", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    text-align: center;
    padding: 2px 2px 2px 5px;
    background: #CAE8EA;
    white-space: nowrap;
}

#grid_table td {
    font: 11px "Tahoma", Verdana, Trebuchet MS, Helvetica;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 2px 0 2px 5px;
    color: #4f6b72;
    word-break: break-all;
    white-space: nowrap;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.page-wrapper {
    padding-top: 30px;
}

.page-titles {
    max-width: 1600px;
}

.topbar .top-navbar,
.scroll-sidebar {
    max-width: 1590px;
}

.text-center .pagination {
    justify-content: center;
}

.select2-sm .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px !important;
}

.select2-sm .select2-container--default .select2-selection--single {
    height: 31px !important;
}

.note-list p {
    font-size: 12px;
    margin-bottom: 0.3rem;
}

@media (min-width: 768px) {
    .sidebar-nav > ul > li:last-child ul {
        right: initial;
    }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder{
    color: #ccc !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder { /* Firefox 18- */
    color: #ccc !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {  /* Firefox 19+ */
    color: #ccc !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: #ccc !important;
}

.form-group {
    margin-bottom: 15px;
}

.form-group-sm {
    margin-bottom: 10px;
}

.form-group-sm label{
    font-size: 13px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    /*border-top: 1px solid #ddd;*/
}

#my-table > tbody > tr > td {
    font-size: 12px;
    font-weight: normal;
}

#my-table > tbody > tr > td.td-title,
#my-table .row-title {
    font-size: 14px;
    color: #3c8dbc;
}

.price {
    text-align: right;
    padding-right: 20px !important;
}

.row-actions{
    display: block;
    color: #999;
    font-weight: normal;
    font-size: 13px;
    padding: 3px 0 0;
}

.row-actions span:not(:first-child) {
    min-width: 30px;
    display: inline-block;
    text-align: center;
}

.row-actions a{
    color: #489ed7;;
}