
.list-group-item-address .list-group-item{
    border: 0;
    border-radius: 0;
}

.list-group-item-address .address-info-profile a{
    padding-left: 0.6rem;
}
.list-group-item-address .address-info{
    padding-left: 4.3rem;
}
.fa-stack { font-size:0.7em; }
.bell-color {
    color: #EE4D2D;
}
.donmua-color{
    color: #44B5FF;
}
.card-header.card-header-background{
    background-color: #ffffff;
}
.card-header.card-header-checkout{
    text-transform: none;
    border-bottom:1px solid #F6F6F4;
    font-weight: 500;
}
.card.no-background-card{
    background-color:transparent;
}
.tong-tien-hang{
color: #EE4D2D;
    font-size: 20px;
}
.card-body.card-body-background-order{
    background-color: #FFFEFB;
}
.xu-color{
    color: #FFAE04;
}

.vi-color{
    color: #FF7761;
}
.info-active {
    color: #EE4F32;
}
.mt-2.mr-info{
    margin-top:0px !important;
    margin-bottom: 5px !important;
}
.info-line{
    margin: 2.1rem auto 0.2rem;
    border-top: 1px solid #EFEFEF;
}
i { vertical-align: middle; }
.card-info{
    border: none;
}
.card-info-header{
    background-color: #ffffff;
    border-bottom: 1px solid #EFEFEF;
}
.card-info-header .sub-info-header
{
    font-weight: normal;
    text-transform: none;
    color: #7A7D82;
}
.btn-primary.btn-add{
    position: absolute;
    right: 2%;
    top: 6%;
    background-color: #FF6533;
    border-color:#FF6533 ;
}
.btn-primary.btn-add:hover{
    background-color: #FF6533;
    border-color:#FF6533 ;
}
.badge.badge-info-customize{
    padding: .55em .9em;
    margin-left:10px;
}
.badge.badge-primary-info{
    border-radius: 10rem;
    border: 1px solid #F94C2F ;
    color:#F94C2F ;
    font-weight: normal;
    padding: .55em .9em;
    margin-left:10px;
}
.td-width-10{
    width: 10%;
}
.td-width-20{
    width: 20%;
}
.badge-primary.badge-primary-thietlap{
    background-color: snow;
    color: #cccccc;
    border: 1px solid #cccccc;
}

.badge-primary.badge-primary-magiamgia{
    background-color:#ffffff;
    color: #7A7D92;
    border: 1px solid #E8E8E8;
    text-decoration: none;
}

.form-control.info-email{
 margin-bottom: 0px;
    height: 3.8rem;
}
.form-control.info-email-with{
    max-width: 350px;
}

.form-control.no-padding{
    padding: 7px 30px 10px 46px;
    height: 3.8rem !important;
}
.btn-primary.btn-primary-save{
background-color: #EE4D2D;
    border-color:#EE4D2D;
    text-transform: none;
}
.col-md-8.border-right-profile{
border-right: 1px solid #EFEFEF;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.btn-primary.btn-upload{
    background-color: #ffffff;
    border-color:#EFEFEF;
    color: #555555;
    font-weight: bold;
    text-transform: none;
}
.col-md-4.col-md-4-upload{
    text-align: center;
}
.rounded-circle.rounded-circle-img-upload{
    text-align: center;
    width: 100px;
    height: 100px;
    display: unset;
}

.rounded-circle.rounded-circle-img-order{
    text-align: center;
    width: 20px;
    height: 20px;
    display: unset;
}

.breadcrumb.breadcrumb-order{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px;
}
.breadcrumb-item.breadcrumb-item-customize{
    width: 100%;
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;

}

.breadcrumb-item.breadcrumb-item-customize:before{
    content: '';
    font-family: 'porto';
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.3rem;
    vertical-align: middle;
    margin-top: -.3rem;
    color: #8e8e8e;
}

.breadcrumb-item-customize a{
    padding: 1.4rem 1.5rem 1.2rem
}
.breadcrumb-item-customize a.active{
    color: #EE4D2D;
    font-weight: bold;
}
.breadcrumb-item-customize a:hover{
    text-decoration: none;
}
.breadcrumb-item-customize.active{
border-bottom: 2px solid #EE4D2D;

}

.breadcrumb-item-customize:hover{
    border-bottom: 2px solid #EE4D2D;
}


ul.header-left-customize {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.header-left-customize li {
    text-transform: none;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.badge-primary.badge-primary-chat
{
    padding: .55em .9em;
    background-color: #00BFA5;
    font-weight: normal;
}
.badge-primary-chat-checkout{
    color: #00BFA5;
    text-decoration: none !important;
}
.badge-primary-chat-checkout:hover{
    text-decoration:underline !important;
}
.badge-primary.badge-primary-xem-shop
{
    padding: .55em .9em;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #EDEDED;
    font-weight: normal;
}

ul.header-right-customize {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.header-right-customize li {
    text-transform: none;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
}
.header-right-customize .da-giao-hang{
    font-weight: normal;
}
.header-right-customize .da-hoi{
    font-weight: normal;
}
.header-right-customize .da-danh-gia{
    font-weight: normal;
    color: #EE6362;
}
.media .media-img {
    height: 64px;
    width: 64px;
}
.media .media-img-checkout{
    height: 40px;
    width: 40px;
}
.media .mt-title-customize
{
    font-weight: normal;
    font-size: 15px;
}
.card-body.no-min-height{
    min-height: unset;
}
.price-order{
    color: #EE4D2D;
}
.row.border-bottom-order{
border-bottom: 1px solid #EFEFEF;
}
.card.card-body-order{
    text-align: right;
    background-color: #FFFEFB;
    border-top: 1px dashed #E8E8E8;
    border-left: #FFFEFB;
    border-right: #FFFEFB;
    border-bottom: #FFFEFB;
}
.card.card-body-checkout{
    background-color: #FAFDFF;
    border-top: 1px dashed #E8E8E8;
    border-left: #FFFEFB;
    border-right: #FFFEFB;
    border-bottom: #FFFEFB;
}

.card.card-body-checkout-total{
    background-color: #FFFEFB;
    border-top: 1px dashed #E8E8E8;
    border-left: #FFFEFB;
    border-right: #FFFEFB;
    border-bottom: #FFFEFB;
}

.card.no-margin-bottom{
    margin-bottom: unset;
}
.card.no-border{
    border: none;
}
.card.margin-bottom-2{
    margin-bottom: 2rem;
}
.card.margin-bottom-1{
    margin-bottom: 1rem;
}
.card-body.no-padding{
    padding: 0;
}
.card-body.no-padding-bottom{
    padding-bottom: 0 !important;
}

.btn-primary.xem-danh-gia-shop,.btn-primary.xem-danh-gia-nguoi-mua {
    background-color: #EE4D2D;
    border-color: #EE4D2D;
}
.btn-primary.xem-chi-tiet-don-hang {
    background-color: #ffffff;
    border-color: #F5F5F5;
    color: #615E79;
}
.tong-tien-chi-tiet .tong-tien{
    color: #EE4D2D;
    font-size: 25px;
}
.khong-nhan-duoc-danh-gia span{
    text-align: left;
}
.dia-chi-nhan-hang{
    color: #EE4D2D;
}
.color-don-gia{
    color: #C3C0C8;
}
.color-so-luong{
    color: #C3C0C8;
    font-weight: normal;
}
.color-thay-doi{
    color: #015DAF;
    text-decoration: none !important;
}
.color-thay-doi:hover{
    text-decoration: underline !important;
}
.dong{
    text-decoration: underline !important;
}
.don-vi-van-chuyen{
    color: #00BFA5;
}

.card-body.card-body-header{
    padding: 10px;
}
.no-margin-bottom-all{
    margin-bottom: 0px;
}
.card.card-shopping-cart-header{
    border: 1px solid #F4E8C7;
}
.ma-giam-gia-shopping-cart{
    color: #0055BC !important;
    text-decoration: none !important;
}
.color-truck-blue{
    color: #00BFA5 !important;
}
.card-body.card-body-125{
    padding: 1.25rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #EE4D2D;
    border: none;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #EE4D2D;
}
.custom-control-input:disabled~.custom-control-label{
    color: #D6D6E3;
}
.td-width-4{
    width: 4%;
}
.btn-secondary.btn-secondary-shopping-cart{
    background-color: #ffffff;
    border-color: #E8E8E8;
    box-shadow: none;
    color: #5C5C5C;
    min-width: 11px;
    padding: 4px 10px 3px 14px;
    font-size: 11px;
}

.btn-secondary-shopping-cart:active{
    background-color: #ffffff;
}
.delete-product{
    text-decoration: none !important;
}
.delete-product:hover{
    text-decoration: underline !important;
}
.color-cart-discount-shopping{
    color: #F8CE63;
}
.color-cart-xu-shopping
{
    color: #FDF2D1;
}
.nhan-them-xu{
    color: #F8B118;
}
.tong-cong-tat-ca{
    color: #EE4D2D;
    font-size: 20px;
}
.btn-sm.btn-sm-tong-size{
    min-width: 200px;
}

.btn-sm.btn-sm-tong-size-left{
    min-width: 150px;
    font-size: 12px;
    padding: 0.5rem 1.5rem;
}
.card-title.card-title-shopping{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: normal;
}
.rating-vote{
    color: #FFCE3D;
    cursor: pointer;
}
.rating-vote.rating-vote-size-1{
font-size: 11px;
}

.rating-vote.rating-vote-size-2{
    font-size: 12px;
}

.no-rating-vote{
    cursor: pointer;
    color: #FFD044;
}
.no-rating-vote.no-rating-vote-size-1 {
    font-size: 11px;
}

.no-rating-vote.no-rating-vote-size-2{
    font-size: 12px;
}
.color-number-vote{
    color: #BDBDBD;
}


.ribbon-shopping {
    width: 45px;
    /*padding: 10px 0;*/
    position: absolute;
    top:-1px;
    right: 0px;
    text-align: center;
    border-top-left-radius: 3px;
    background: #F9CF30;
}
.ribbon-shopping:before {
    height: 0;
    width: 0;
}
.ribbon-shopping:before, .ribbon-shopping:after {
    content: "";
    position: absolute;
}
.ribbon-shopping:after {
    height: 0;
    width: 0;
    bottom: -7px;
    left: 0;
    border-left: 22.5px solid #F9CF30;
    border-right: 22.5px solid #F9CF30;
    border-bottom: 7px solid transparent;
}
.ribbon-shopping-giam{
    color: #ffffff;
    margin-top:-9px;
    font-weight:400;
}


.row-position-relative{
    position: relative;
}
.myslider {
    height:300px;
}
.myslider>div.item-product {
    display: inline-flex;
}


.button-prev{
    position: absolute;
    top: 143px;
    left: -25px;
    z-index: 1;
    min-width:auto;
    padding: 1.25rem 2rem;
}

.button-next{
    position: absolute;
    top: 143px;
    right: -25px;
    z-index: 1;
    min-width:auto;
    padding: 1.25rem 2rem;
}
.padding-right-shopping{
    padding-right: 12px;
}


.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}


/*.w-20 {*/
    /*-webkit-box-flex: 0;*/
    /*-ms-flex: 0 0 20%;*/
    /*flex: 0 0 20%;*/
    /*max-width: 20%;*/
/*}*/

/*@media (min-width: 576px) {*/
    /*.w-sm-20 {*/
        /*-webkit-box-flex: 0;*/
        /*-ms-flex: 0 0 20%;*/
        /*flex: 0 0 20%;*/
        /*max-width: 20%;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.w-md-20 {*/
        /*-webkit-box-flex: 0;*/
        /*-ms-flex: 0 0 20%;*/
        /*flex: 0 0 20%;*/
        /*max-width: 20%;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.w-lg-20 {*/
        /*-webkit-box-flex: 0;*/
        /*-ms-flex: 0 0 20%;*/
        /*flex: 0 0 20%;*/
        /*max-width: 20%;*/
    /*}*/
/*}*/

/*@media (min-width: 1200px) {*/
    /*.w-xl-20 {*/
        /*-webkit-box-flex: 0;*/
        /*-ms-flex: 0 0 20%;*/
        /*flex: 0 0 20%;*/
        /*max-width: 20%;*/
    /*}*/
/*}*/

.card.card-background-info{
    background-color: #666666;
}
.title-avatar{
    color: #ffffff;
    font-size: 15px;
}
.title-online{
    color: #D1D1D1;
    font-size: 11px;
}
.card-body.card-body-avatar-padding{
    padding: 1rem 1rem;
}
.media .love{
    position: absolute;
    padding: 4px 10px  4px 11px;
    text-align: center;
    bottom: -6px;
    left: -1px;
    text-decoration: none;
    background-color: #EE4D2D;
    font-weight:normal;
}

.media .love:hover{
    background-color: #7A7D82;
}
.theodoi{
    padding: 7px 50px 7px 50px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ffffff;
    text-decoration: none !important;
}
.chat-theodoi{
    padding:7px 57px 7px 57px;
    text-align: center;
    border: 1px solid #ffffff;
    background-color: transparent;
    text-decoration: none !important;
}
.chat-theodoi:hover,.theodoi:hover{
    background-color: transparent !important;
}

.list-group-item.shop_page_info_list{
border: none;
}
.font-size-info{
    font-size: 15px;
}
.color-top-shop
{
    border-top:1px solid #EAEAEA !important;
    border-bottom: 1px solid #EAEAEA !important;
}
.nav-shop-page{
    padding: 1px 100px 1px 1px;
    border-bottom: 1px solid #cccccc;
}
.list-group-item .active-shop-left{
        color: #EE4D47;
    text-decoration: none;
    font-weight: 500;
}
.btn-secondary.btn-secondary-shop-page{
    background-color: #F9F9F9;
    border-bottom: 1px solid #F9F9F9 ;
    border-top: 1px solid #F9F9F9;
    border-left: 1px solid #F9F9F9;
    color: #555555;
    min-width: auto;
    padding: 0.9rem 2rem;
}
.btn-secondary.btn-secondary-shop-page-border{
    border-right: 2px solid #F0F0F0;
}
.btn-secondary.no-active{
    color: #cccccc;
}
.card.card-bg-shop{
    background-color: #EDEDED;
}
.btn-light.btn-light-shop{
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    padding: 1.25rem 2rem;
    margin-left:1rem;
}
.btn-light.btn-light-active{
    background-color: #EE4D2D;
    color: #ffffff;
}
.btn-sm.btn-sm-shop{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1.2rem 2rem;
    margin-top:6px;
    margin-left:2rem;
    border: unset !important;
    -webkit-appearance:unset;
}

.page-item.active .page-link{
    z-index: 1;
    color: #fff;
    background-color: #EE4D2D;
    border-color: #EE4D2D;
}

.page-link.page-link-shop-page{
   padding: 17px;
}
.page-item.disabled .page-link{
    /*background-color: transparent;*/
}
.page-item+.page-item{
    margin-left: 1.7rem;
    padding: 0.5rem;
}
.shop-page-product{
    margin: 0 -15px;
    background-color: #999999;
    height: 200px;
    position: relative;
}
.img-avatar-shop-page{
    position: absolute;
}
.img-avatar-shop-page img {
    width: 100px;
    height: 100px;
    margin-left: 45px;
    margin-top: 15px;
}
.shop-page-avatar{
    position: absolute;
    top: 96px;
    left: 52px;
}
.love-avatar{
    padding: 4px 10px 4px 11px;
    text-align: center;
    text-decoration: none;
    background-color: #EE4D2D;
    font-weight: normal;
}
.shop-page-avatar-online{
    position: absolute;
    top: 132px;
    left: 60px;
    color: #ffffff;
}
.online-avatar-online{
    position: absolute;
    top: 160px;
    left: 23px;
    font-size: 12px;
    color: #D5E1E1;
}
.danh-muc-shop{
    font-weight: 600;
}
.list-group-item-a-shop{
    font-size: 13px;
}
.list-group-item-active{
    color: #EF4D2D;
}
.form-control.form-control-customize-gia{
height: auto;
    padding: 0px;
    font-size: 11px;
    height:30px;
}
.input-group-text.input-group-text-customize{
    background-color: #ffffff;
    border:1px solid #E6E6E6;
}

.form-control.form-control-customize-gia:focus {
    border-color: #E6E6E6 !important;
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);*/
}