.sticky-header.fixed {
    padding-top: 0;
    padding-bottom: 0;
}

.header-middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-top {
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.footer {
    color: rgba(0, 0, 0, .65);
    background-color: #f5f5f5;
}

.footer .widget-title {
    color: rgba(0, 0, 0, .65);
}

.footer-bottom {
    border-top: 1px solid #ccc;
}

.footer-middle {
    padding: 2rem 0 0.8rem;
}

@media screen and (min-width: 992px) {
    .footer-middle {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    .dropdown-expanded .header-menu a {
        color: #fff;
    }
}

@media screen and (max-width: 600px) {
    .header-menu ul a {
        color: #000 !important;
    }
}

.footer-bottom {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer a:hover, .footer a:focus {
    color: #e78027;
}

.header-dropdown a {
    color: #fff;
}

.header,
.sticky-header.fixed {
    background-color: #e78629;
}

.header-menu ul a {
    color: #fff;
    text-transform: none;
}

.header-top {
    background-color: #e78027;
    border-bottom: none;
}

.menu.menu-vertical > li:hover > a, .menu.menu-vertical > li.show > a, .menu.menu-vertical > li.active > a {
    border-color: #e78027;
    background-color: transparent;
    color: #e78027;;
}

.menu.menu-vertical > li:hover, .menu.menu-vertical > li.show, .menu.menu-vertical > li.active {
    background-color: transparent;
}

.product-price {
    color: #e78027;;
}

/*instagram/*/
.instagram-media {
    min-width: 270px !important;
}

@media screen and (min-width: 992px) {
    .menu.menu-vertical > li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .header-search form {
        width: 600px;
    }

    .header-search form .form-control {
        max-width: 530px;
    }
}

.widget-newsletters {
    padding: 2rem 2rem 2rem;
    background-color: #f4f4f4;
}

.widget-contact {
    padding: 2rem 2rem 2rem;
    background-color: #f4f4f4;
}

.widget-contact h3 {
    text-align: center;
}

.widget-contact p {
    margin-bottom: 0rem;
}

.footer-bottom {
    border-top: 0;
}

@media screen and (min-width: 1200px) {
    .header-middle .header-center {
        padding-left: 65px;
    }
}

.product_item {
    word-wrap: break-word;
    line-height: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

@media screen and (min-width: 768px) {
    .product {
        margin-bottom: 1.3rem;
    }
}

.my-price-range-filter__inputs, .my-price-range-filter__range-line-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.my-price-range-filter__inputs {
    margin: 1.25rem 0 .625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.my-price-range-filter__range-line {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    background: #bdbdbd;
    margin: 0 .625rem;
}

.my-price-range-filter--vn .my-price-range-filter__input {
    width: 11rem;
    font-size: 1rem;
}

.widget-title-h4 {
    font-size: 1.2rem;
    line-height: 1.2;
    font-weight: normal;
}

.table-info-product tr, th, td {
    border: none !important;
}

.product_name {
    height: 46px;
    overflow: hidden;
}

.shop_avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.btn-light {
    background: #fff;
    color: #555;
    border: 1px solid rgba(0, 0, 0, .09);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
    padding: 0.5rem 1.5rem;
    margin-top: 5px;
    text-transform: none;
}

.shop-avatar-w {
    float: left;
    display: table
}

.shop-info {
    float: left;
    align-items: center;
    justify-content: center
}

.shop-info-item {
    /*float: left;*/
}

.menu.menu-vertical > li > a {
    text-transform: capitalize !important;
}

@media screen and (min-width: 992px) {
    .menu.menu-vertical > li > a {
        font-size: 1.3rem;
        padding: .5rem 1rem;
    }
}

.side-menu-container {
    margin-bottom: 0;
}

ul.cat-list li a {
    text-transform: capitalize;
}

ul.cat-list li.active a {
    color: #08c;
}

.mfp-ajax-product.mfp-wrap .mfp-content, .login-popup.mfp-wrap .mfp-content {
    max-width: 436px;
}

.form-input {
    padding: .5rem 1.2rem;
}

.help-block {
    display: block;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #737373;
    font-size: 10px;
}

.help-block.error {
    color: red;
}

.help-block.success {
    color: green;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.form-control {
    height: 3.5rem;
    padding: 0rem 1.5rem;
}

.btn {
    padding: .8rem 2rem;
}

select.form-control:not([size]):not([multiple]) {
    height: 3.5rem;
}

textarea.form-control {
    min-height: 100px;
    max-width: 480px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 32px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e6e6e6;
    border-radius: 0;
}

.select2-container .select2-selection--single {

    height: 34px;
}

.product a {
    text-decoration: none;
}

.add-new .product-image-container {
    background: none;
    border: dotted 2px #ccc;
}

.product.add-new:hover .product-image-container {
    box-shadow: none;
    border: dotted 2px #e78629;
}

.add-product-form .form-control {
    max-width: 100%;
    padding: 0.2rem .5rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}

.form-bordered .form-group {
    /*border-bottom: 1px solid rgba(120, 130, 140, 0.13);*/
    padding-bottom: 10px;
}

/*@media (min-width: 768px) {*/
/*.form-horizontal .col-sm-1,*/
/*.form-horizontal .col-sm-10,*/
/*.form-horizontal .col-sm-11,*/
/*.form-horizontal .col-sm-12,*/
/*.form-horizontal .col-sm-2,*/
/*.form-horizontal .col-sm-3,*/
/*.form-horizontal .col-sm-4,*/
/*.form-horizontal .col-sm-5,*/
/*.form-horizontal .col-sm-6,*/
/*.form-horizontal .col-sm-7,*/
/*.form-horizontal .col-sm-8,*/
/*.form-horizontal .col-sm-9 {*/
/*float: left;*/
/*}*/

/*.form-horizontal .col-md-1,*/
/*.form-horizontal .col-md-10,*/
/*.form-horizontal .col-md-11,*/
/*.form-horizontal .col-md-12,*/
/*.form-horizontal .col-md-2,*/
/*.form-horizontal .col-md-3,*/
/*.form-horizontal .col-md-4,*/
/*.form-horizontal .col-md-5,*/
/*.form-horizontal .col-md-6,*/
/*.form-horizontal .col-md-7,*/
/*.form-horizontal .col-md-8,*/
/*.form-horizontal .col-md-9 {*/
/*float: left;*/
/*}*/
/*}*/

.card-form {
    margin-bottom: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .09);
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .09);
}

.fixed-bottom {
    padding: 16px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 72px;
    background: #fff;
    z-index: 100;
    -webkit-box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, .02);
    box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, .02);
}

.add-product-form .help-block {
    margin: 0px;
    padding: 5px 0;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 500px;
        margin: 10% auto;
    }
}

.modal-header, .modal-footer {
    height: 50px;
}
.modal-header{
    height: 40px;
    padding: .9rem;
}
.cart-dropdown .product-image-container {
    max-width: 45px;
}
.card-body a {
    text-decoration: none;
}

/*radio css*/
/* The container */
.radio_container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .checkmark {
    background-color: #e78629;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.address_btn{
    text-transform: none;
    font-family:'Arial';
}
.btn-b2b{
    background-color: #e78629;
    border-color: #e78629;
}
.btn-b2b:hover {
    background-color: #e7792e;
    border-color: #e7792e;
}

.edit-product{
    color: #6f6e6b;
    font-family: "Oswald",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    padding: .85rem .5rem;
    min-width: 102px;
    z-index: 2;
    transition-duration: 0s;
}

.toolbox .pagination {
    margin: 0 auto !important;
}